.color {
  color: #409eff;
}
select {
  outline: none;
  color: #606266 !important;
  width: 32.7%;
}
.flex-m {
  display: flex;
  align-items: center;
}
.userInfo {
  color: #757575;
  padding: 20px;
  box-sizing: border-box;
}
.userInfo .title {
  font-size: 30px;
}
a {
  text-decoration: none;
}
